@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #291C3A;
  --color-secondary: #331C52;
  --color-accent: #8121D0;
  --color-light: #DCCFED;
  --color-neutral: #E1EBED;
  --color-white: #FFFFFF;
  --color-footer: #A89DB1;

  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-body);
  /* background-color: var(--color-primary); */
  color: var(--color-white);
}
h1, h2, h3 {
  font-family: var(--font-heading);
}

